{% extends "principal.html" %}

{% block cabecera %}
    <h1>Listado de datos de usuarios AUTOMATIC-CRUD</h1>
{% endblock %}

{% block contenido %}
    {% if object_list %}
        {% for datosusuario in object_list %}
            <ul>
                <li>
                    <h4>{{ datosusuario.nombre }}</h4>
                    <p>Posición: {{ datosusuario.get_posicion_display }}</p>
                    <p>Ubicación: {{ datosusuario.ubicacion }}</p>
                    <p>Usuario: {{ datosusuario.usuario }}</p>
                    <p>Estilos de partido jugados: </p>
                    {% for partidos_jugados in datosusuario.partidos_jugados.all %}
                        <p>Partido ID: {{ partidos_jugados.id }}</p>
                    {% endfor %}
                    <a href="{% url 'datos_usuario_editar' datosusuario.id %}">EDITAR</a>
                    <a href="{% url 'appFutbol-datosusuario-logic-delete' datosusuario.id %}">ELIMINAR</a>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p>Lo sentimos no existen datos</p>
    {% endif %}
{% endblock %}