{% extends "principal.html" %}

{% block cabecera %}
{% if not texto_busqueda is None %}
        <h4>{{ texto_busqueda }} - AUTOMATIC-CRUD</h4>
    {% else %}
        <h1>Listado de partidos AUTOMATIC-CRUD</h1>
    {% endif %}
{% endblock %}

{% block contenido %}
    {% if object_list %}
        {% for partido in object_list %}
        <ul>
            <li>
                <p>Hora:  {{ partido.hora }}</p>
                <p>Estado: {{ partido.get_estado_display }}</p>
                <p>Tipo: {{ partido.get_tipo_display }}</p>
                <p>Estilo: {{ partido.get_estilo_display }}</p>
                <p>Creador de la campo_reservado: {{ partido.creador.nombre }}</p> 
                <p>Campo reservado: {{ partido.campo_reservado.nombre }}</p>
                <h5>Jugadores:</h5>
                {% for usu in partido.usuarios_jugadores.all %}
                    <p>{{ usu.nombre }}</p>
                {% endfor %}
                <a href="{% url 'appFutbol-partido-update' partido.id %}">EDITAR</a>
                <a href="{% url 'appFutbol-partido-logic-delete' partido.id %}">ELIMINAR</a>
            </li>
        </ul>
        {% endfor %}
    {% else %}
        <p>Lo sentimos no existen datos</p>
    {% endif %}
{% endblock %}