{% extends "principal.html" %}
{% block cabecera %}
    <h1>Listado de los recintos encontrados API</h1>
{% endblock %}

{% block contenido %}
    <div class="row">
        {% for recinto in recintos_mostrar %}
            <div class="col-sm-4 mb-2">
               
                <h4>{{recinto.nombre}}</h4>
                <p>Ubicación: {{recinto.ubicacion}}</p>
                <p>Teléfono: {{recinto.telefono}}</p>
                <p>fecha_publicacion: {{recinto.fecha_publicacion}}</p>
                <h5>Dueño recinto: {{ recinto.dueño_recinto.usuario.username }}</h5>
            </div>
        {% empty %}
            <h1>Lo sentimos pero no hay recintos</h1>
        {% endfor %}
    </div>
{% endblock %}  