{% extends "principal.html" %}

{% block cabecera_extra %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/eliminarrecinto.js' %}"></script>
{% endblock %}

{% block cabecera %}
    {% if not texto_busqueda is None %}
        <h1>{{ texto_busqueda }}</h1>
    {% else %}
        <h1>{{ recinto.nombre }}</h1>
    {% endif %}
{% endblock %}

{% block contenido %}
    <ul>
        <li>
            <p>Ubicación: {{ recinto.ubicacion }}</p>
            <p>Teléfono: {{ recinto.telefono }}</p>
            <p>Dueño recinto: {{ recinto.duenyo_recinto.usuario.username }}</p>
            <form action="{% url 'recinto_put' recinto.id %}" method="post">
                {% csrf_token %}
                <button type="submit">
                    EDITAR
                </button>
            </form>
            <form action="{% url 'recinto_eliminar' recinto.id %}" method="post">
                {% csrf_token %}
                <button onclick="return eliminar();" type="submit">
                    ELIMINAR
                </button>
            </form>
        </li>
    </ul>
{% endblock %}