<ul>
    <li><a href="{% url 'lista_usuarios' %}">Lista de usuarios</a></li>
    <li><a href="{% url 'buscar_usuario' 'GOA' %}">Usuarios filtrados</a></li>
    <li><a href="{% url 'reservas_usuario' 2 %}">Reservas del usuario</a></li>
    <li><a href="{% url 'usuarios_partido' 1 %}">Usuarios de un partido</a></li>
    <li><a href="{% url 'usuarios_post' 1 %}">Usuarios con más de n posts</a></li>
    <li><a href="{% url 'ganados_visitantes' %}">Partidos ganados por visitantes</a></li>
    <li><a href="{% url 'ganados_locales' %}">Partidos ganados por locales</a></li>
    <li><a href="{% url 'futbol_sala_siete' %}">Partidos de fútbol sala o 7</a></li>
    <li><a href="{% url 'niveles_usuarios' %}">Mostrar podio de nievels de usuario</a></li>
    <li><a href="{% url 'ultima_votacion' 2 %}">Última votación del partido X</a></li>
    <li><a href="{% url 'votacion_3' 4 %}">Mostrar partidos con votación 3 de usuario X</a></li>
    <li><a href="{% url 'usuarios_sin_votaciones' %}">Usuario sin votaciones</a></li>
    <li><a href="{% url 'validar_banco' 'Juana' %}">Cuentas bancarias validaciones</a></li>
    <li><a href="{% url 'media_partidos' %}">Media de partidos mayores a 2,5</a></li>
</ul>