<footer>
    <div class="legal">
        <p><strong>Legal</strong></p>
        <a href="">Condiciones generales</a>
    </div>
    <div class="Ayuda">
        <p><strong>Ayuda y contacto</strong></p>
        <a href="">Helpcenter</a>
    </div>
    <div class="Navegacion">
        <p><strong>Navegación</strong></p>
        <a href="">Gimnasios</a>
    </div>
    <div class="RRSS">
        <p><strong>Redes Sociales</strong></p>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-solid fa-envelope"></i>
    </div>
</footer>