{% load static %}

<nav class="navbar navbar-expand-lg bg-success px-4">
    <a class="navbar-brand text-dark" href="#">
        <i class="fa-sharp fa-regular fa-futbol"></i>
    </a>
    <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#accionesPartidos" 
      aria-controls="navbarAccionesPartidos" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="accionesPartidos">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active link-dark" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link link-dark dropdown-toggle" href="#" 
                    id="accionesUsuariosLink"
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Usuarios
                </a>
                <ul class="dropdown-menu" aria-labelledby="accionesUsuariosLink">
                    <li><a class="dropdown-item" href="#">Ver usuarios</a></li>
                    <li><a class="dropdown-item" href="#">Crear usuario</a></li>
                    <li><a class="dropdown-item" href="#">Busqueda Avanzada de usuarios</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link link-dark dropdown-toggle" href="#" 
                    id="accionesRecintoLink" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Recinto
                </a>
                <ul class="dropdown-menu" aria-labelledby="accionesRecintoLink">
                    <li><a class="dropdown-item" href="{% url 'recintos_lista_api' %}">Ver recintos api</a></li>
                    <li><a class="dropdown-item" href="#">Crear recinto</a></li>
                    <li><a class="dropdown-item" href="{% url "recinto_busqueda_avanzada" %}">Busqueda Avanzada de recintos api</a></li>
                    <li><a class="dropdown-item" href="{% url "recinto_create" %}">Crear recinto api</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link link-dark dropdown-toggle" href="#" 
                    id="accionesPartidosLink" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Partidos
                </a>
                <ul class="dropdown-menu" aria-labelledby="accionesPartidosLink">
                    <li><a class="dropdown-item" href="{% url "partidos_lista" %}">Ver partidos_api</a></li>
                    <li><a class="dropdown-item" href="{% url "partidos_api_mejorada" %}">Ver partidos_api_mejorada</a></li>
                    <li><a class="dropdown-item" href="{% url 'partido_create' %}">Crear partido api</a></li>
                    <li><a class="dropdown-item" href="{% url 'partido_busqueda_avanzada' %}">Busqueda Avanzada de partidos api</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link link-dark dropdown-toggle" href="#" 
                    id="accionesPromocionLink" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Promociones
                </a>
                <ul class="dropdown-menu" aria-labelledby="accionesPromocionLink">
                    <li><a class="dropdown-item" href="#">Ver promociones</a></li>
                    <li><a class="dropdown-item" href="#">Crear promocion</a></li>
                    <li><a class="dropdown-item" href="#">Busqueda Avanzada de promociones</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link link-dark dropdown-toggle" href="#" 
                    id="accionesPromocionLink" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Datos Usuarios
                </a>
                <ul class="dropdown-menu" aria-labelledby="accionesPromocionLink">
                    <li><a class="dropdown-item" href="{% url 'datos_usuario' %}">Ver datos usuarios api</a></li>
                    <li><a class="dropdown-item" href="{% url 'datosusuario_busqueda_avanzada' %}">Busqueda Avanzada de datos usuarios api</a></li>
                    <li><a class="dropdown-item" href="{% url 'datosusuario_create' %}">Crear datos de usuario api</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark active" href="{% url 'listar_post' %}">Lista posts api</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="login nav-item ms-lg-5">
                <a class="acceder nav-link link-primary" href="#">Login</a>
            </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <li class="login nav-item ms-lg-5">
                <a class="acceder nav-link link-primary" href="#">Registrarse</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="login nav-item ms-lg-5">
                <a class="acceder nav-link link-primary" href="#">Desconectarse</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li>
                <div class="nav-link link-dark active">Hola: {{ usuario.username }}</div>
            </li>
            {% endif %}
        </ul>
        <form action="{% url 'recinto_buscar_simple' %}" class="d-flex mt-3" role="search" method="GET">
            <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Buscar recintos (ubicación)" aria-label="Search">
            <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</nav>