<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cuentas bancarias</h1>
    {% for cuenta in cuentas %}
        <ul>
            <li>
                <p>Número cuenta bancaria: {{ cuenta.numero_cuenta }}</p>
                <p>Banco: {{ cuenta.get_banco_display }}</p>
                <p>Nombre del titular: {{ cuenta.titular_cuenta.nombre }}</p>
            </li>
        </ul>
    {% endfor %}
</body>
</html>