{% extends "principal.html" %}

{% block cabecera %}
    {% if not texto_busqueda is None %}
        <h4>{{ texto_busqueda }}</h4>
    {% else %}
        <h1>Listado de promociones</h1>
    {% endif %}
{% endblock %}

{% block contenido %}
    {% for promocion in promociones %}
        <ul>
            <li>
                <h4>{{ promocion.nombre }}</h4>
                <p>{{ promocion.descripcion }}</p>
                <p>{{ promocion.descuento }}</p>
                <p>{{ promocion.fecha_promocion }}</p>
                <p>Usuarios:</p>
                    {% for usu in promocion.miusuario.all %}
                        <p>{{ usu.nombre }}</p>
                    {% endfor %}
                <a href="{% url 'promocion_editar' promocion.id %}">EDITAR</a>
                <a href="{% url 'appFutbol-promocion-logic-delete' promocion.id %}">ELIMINAR</a>
            </li>
        </ul>
    {% empty %}
        <p>No existe ningún partido</p>
    {% endfor %}
{% endblock %}