{% extends "principal.html" %}

{% block cabecera_extra %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/eliminarpartido.js' %}"></script>
{% endblock %}

{% block cabecera %}
    {% if not texto_busqueda is None %}
        <h4>{{ texto_busqueda }}</h4>
    {% else %}
        <h1>Listado de partidos mejorada</h1>
    {% endif %}
{% endblock %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% for partido in partidos_mostrar %}
        <ul>
            <li>
                <p>Hora:  {{ partido.hora }}</p>
                <p>Estado: {{ partido.estado }}</p>
                <p>Tipo: {{ partido.tipo }}</p>
                <p>Estilo: {{ partido.estilo }}</p>
                <p>Creador del partido: {{ partido.creador.usuario.username }}</p> 
                <p>Campo reservado: {{ partido.campo_reservado.nombre }}</p>
                <h5>Jugadores:</h5>
                {% for usu in partido.usuarios_jugadores.all %}
                    <p>{{ usu.id }}</p>
                {% endfor %}
                {% comment %} <form action="{% url 'partido_editar' partido.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        EDITAR
                    </button>
                </form> {% endcomment %}
                {% comment %} <form action="{% url 'partido_eliminar' partido.id %}" method="post">
                    {% csrf_token %}
                    <button onclick="return eliminar();" type="submit">
                        ELIMINAR
                    </button>
                </form> {% endcomment %}
                <h4>Resultado</h4>
                <p class="mt-3">Equipo Local: {{ partido.resultado_partido.goles_local }}</p>
                <p>Equipo Visitante: {{ partido.resultado_partido.goles_visitante }}</p>
                {% comment %} <h5 class="mt-2"><a href="{% url 'resultado_create' %}">Añadir resultado del partido</a></h5> {% endcomment %}
            </li>
        </ul>
    {% empty %}
        <p>No existe ningún partido</p>
    {% endfor %}
{% endblock %}