<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios de un partido</title>
</head>
<body>
    <h1>Usuarios del partido {{ partido.id }}</h1>
    {% for usuario in usuarios %}
    <ul>
        <li>
            <p><strong>Jugador:</strong> {{ usuario.nombre }}</p>
        </li>
    </ul>
    {% empty %}
        <p>Lo sentimos, este partido no tiene jugadores aún</p>
    {% endfor %}
</body>
</html>