{% extends "principal.html" %}
{% block cabecera %}
    <h1>Lista de usuarios</h1>
{% endblock %}

{% block contenido %}
    {% for usuario in usuarios %}
        <ul>
            <li>
                <p>Nombre: {{ usuario.nombre }}</p>
                <p>Apellidos: {{ usuario.apellidos }}</p>
                <p>Email: {{ usuario.email }}</p>
                <p>Nivel: {{ usuario.nivel }}</p>
                <p>Teléfono: {{ usuario.telefono }}</p>
                <p>Descripción: {{ usuario.datos_usuario.descripcion }}</p>
                <p>Posicion: <strong>{{ usuario.datos_usuario.get_posicion_display }}</strong></p>
                <p>Ubicación: {{ usuario.datos_usuario.ubicacion }}</p>
                <h4>Posts creados del usuario</h4>
                {% for post in usuario.creador_post.all %}
                    <ul>
                        <li>
                            {{ post.contenido }}
                        </li>
                    </ul>
                {% empty %}
                <p>Lo siento el usuario no ha creado ningún post.</p>
                {% endfor %}
                <h4>Reservas realizadas del usuario</h4>
                    <ul>
                        <li>
                            {% for res in usuario.creador_reserva.all %}
                                <p>Estado: {{ res.estado }}</p>
                                <p>Tipo: {{ res.tipo }}</p>
                                <p>Número de jugadores: {{ res.n_jugadores }}</p>
                                <p>Campo reservado: {{ res.campo_reservado.nombre }}</p>
                            {% empty %}
                                <p>Lo siento el usuario no ha hecho ninguna reserva.</p>
                            {% endfor %}
                        </li>
                    </ul>
            </li>
        </ul>
    {% endfor %}
{% endblock %}